accelerate==1.3.0
alembic==1.14.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.9.1
asyncpg==0.30.0
beautifulsoup4==4.13.4
bitarray==2.9.2
blinker==1.9.0
blis==0.7.11
bs4==0.0.2
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chess==1.11.2
click==8.1.8
cloudpathlib==0.19.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.2
cryptography==45.0.5
cycler==0.12.1
cymem==2.0.8
deep-translator==1.11.4
defusedxml==0.7.1
diffusers==0.32.2
distro==1.9.0
Django==5.2.4
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-filter==25.2
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.10
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
et_xmlfile==2.0.0
Faker==12.0.1
fastapi==0.115.6
filelock==3.16.1
Flask==3.1.0
fonttools==4.59.0
fsspec==2024.12.0
git-filter-repo==2.47.0
google==3.0.0
google-auth==2.40.3
google-genai==1.21.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
idna==3.10
importlib_metadata==8.5.0
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.2
joblib==1.5.1
jwcrypto==1.5.6
kiwisolver==1.4.8
langcodes==3.4.1
language_data==1.2.0
Mako==1.3.9
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
mixer==7.2.2
mmh3==5.0.0
mpmath==1.3.0
murmurhash==1.0.10
narwhals==1.48.0
networkx==3.4.2
numpy==2.3.1
oauthlib==3.3.1
openai==1.59.8
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pillow==11.3.0
plotly==6.2.0
pluggy==1.5.0
preshed==3.0.9
protobuf==5.29.3
psutil==6.1.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.8.1
pydantic_core==2.23.4
Pygments==2.18.0
PyJWT==2.10.1
PyMySQL==1.1.1
pyodbc==5.2.0
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rest_social_auth==9.0.0
rich==13.8.1
rsa==4.9.1
safetensors==0.5.2
scikit-learn==1.7.1
scipy==1.16.0
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==75.1.0
shellingham==1.5.4
six==1.17.0
smart-open==7.0.4
sniffio==1.3.1
social-auth-app-django==5.5.1
social-auth-core==4.7.0
soupsieve==2.7
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqladmin==0.20.1
SQLAlchemy==2.0.38
sqlparse==0.5.3
srsly==2.4.8
starlette==0.41.3
sympy==1.13.1
tenacity==8.5.0
thinc==8.2.5
threadpoolctl==3.6.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.66.5
transformers==4.48.0
typer==0.12.5
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
uv==0.8.22
uvicorn==0.34.0
wasabi==1.1.3
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.16.0
WTForms==3.2.1
xgboost==3.0.3
XlsxWriter==3.2.2
zipp==3.21.0
