{% load static %}

<div id="wrapper-{{ new_block.id }}" class="block-wrapper">
    <div id="block-{{ new_block.id }}" 
         class="text-block" 
         contenteditable="true" 
         data-note-id="{{ new_block.note.id }}"
         hx-post="{% url 'update_block' new_block.id %}" 
         hx-trigger="input changed delay:500ms"
         hx-swap="none">
        <p>{{ new_block.content|default:"" }}</p>
    </div>
    
    <button class="delete-btn" 
            hx-delete="{% url 'delete_block' new_block.id %}" 
            hx-target="#wrapper-{{ new_block.id }}"
            hx-swap="outerHTML"
            hx-confirm="Are you sure you want to delete this block?"
            hx-trigger="click">
        &times; 
    </button>
</div>

<script src="{% static 'scripts/inputText.js' %}"></script>

