{% extends "index.html" %}
  {% block headercontent %}
  <nav class="navbar navbar-light bg-light align-content-start">
    <a class="navbar-brand m-2" href="#">Content Manager</a>
    <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes/">My Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/">Write A Note</a>
        </li>
      </ul>
      <form class="form-inline right">
        <input class="form-control mx-4 w-25" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 mx-4" type="submit">Search</button>
      </form>
    </div>
  </nav>
  {% endblock %}