{% extends "navigation.html" %}
  {% block content %}
    <h2 class='m-2'>Notes</h2>
    <ul>
      {% for note in notes %}
        <div class="card text-center m-5">
          <div class="card-header">
            {{ note.title }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ note.updated_at }}</h5>
            <a href="/notes/{{note.id}}" class="btn btn-primary">View Note</a>
          </div>
          <div class="card-footer text-muted">
            {{ note.created_at }}
          </div>
        </div>
      {% endfor %}
    </ul>
{% endblock %}