{% extends "navigation.html" %}
{% load static %}
{% block content %}
  <div class="card m-2">
    <div class="card-header">
      {{ note.title }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ note.content }}</p>
        <div>
          <button class="addTextButton" onclick="handleAddText()">+ Text</button>
          <button>+ Image</button>
        </div>
        <footer class="blockquote-footer">Created At <cite title="Created At">[{{ note.created_at }}]</cite></footer>
      </blockquote>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'scripts/note.js' %}"></script>
{% endblock %}