<div class="text-block mb-2 p-2 border rounded"
     contenteditable="true"
     hx-post="{% url 'update_text_block' text_block.id %}"
     hx-trigger="blur, keyup delay:500ms"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
     hx-include="this"
     hx-swap="outerHTML"
     name="content">{{ text_block.content|safe }}
     <br />
     <button class="btn btn-danger"
             hx-post="{% url 'delete_text_block' text_block.id %}"
             hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
             hx-swap="outerHTML">Delete</button>
</div>

